.dialog {
  display: block;
  position: relative;
  max-width: 500px;
  width: 90%;
}

.dialog:not([open]) {
  display: none;
}

.close {
  box-sizing: border-box;
  height: 32px;
  width: 32px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background-color: lightcoral;
  border: 2px solid currentColor;
  border-radius: 50%;
  transition: 0.2s background-color ease;
  cursor: pointer;
}

.close:hover {
  background-color: red;
}
